body {
  background-color: teal;
}
.list-primary {
  background-color: aqua;
  text-decoration-color: blueviolet;
  width: fit-content;
  padding: 10px;
  text-decoration:rgb(204, 142, 62);
  list-style-position: inside;
}
.list-secondary