body {
  background-color: rgb(95, 76, 76);
  line-height: 1.5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(/images/site-background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.wrapper {
  display: flex;
  
}
#sidebar-left {
  width: 360px;
  height: 900px;
  background-color: rgba(255, 255, 255, 30%);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  border-radius: 1px;
  margin: 25px 25px 25px 0px;
  
  top: 40px;
  left: -340px;
  z-index: 99999;
  transition: right 2s ease-out 3s;
}
#sidebar-nav {
  width: 360px;
  height: 600px;
  background-image: url(/images/background-image-dark.jpg);
  background-size: cover;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 30%);
  border-radius: 10px;
  position: fixed;
  top: 40px;
  right: -340px;
  z-index: 99999;
  transition: left 2s ease-out 3s;
  text-transform: uppercase;
}

#sidebar-nav:hover {
  right: 0;
}
#sidebar-left:hover {
  left: 0;
}

.sidebar-title {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #000000, 5px 5px 5px #000000, 5px 5px 5px #000000;
  text-transform: uppercase;
}
.cards {
  flex-wrap: wrap;
  flex-basis: calc(100% - 30px /3);
margin-top: 60px;
margin-left: 30px;
margin-right: 120px;
margin-bottom: 60px;
}
.list {
  background-color: rgb(153, 153, 153);
  padding-left: 75px;
  padding-right: 25px;
  border: 1.5px double blueviolet;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.list-title {
  color: whitesmoke;
  font-size: 45px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px #000000, 5px 5px 5px #000000, 5px 5px 5px #000000;
  font-family: "Permanent Marker", cursive;
  padding-top: 10px;
  text-align: center;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.list-primary {
  font-size: 20px;
  list-style: disc;

  padding: 10px;
  color: var(--listColor);
  list-style-position: inside;
  list-style-image: url(/images/viking-icon.png);
  font-size: 25px;
  font-style: italic;
  margin-right: 0;
}
.list-secondary {
  font-size: 20px;
  list-style: disc;
  padding: 10px;
  color: var(--listColor);
  list-style-position: inside;
  list-style-image: url(/images/viking-icon.png);
  font-size: 25px;
  font-style: italic;
  margin-right: 0;
}
.list-tertiary {
  font-size: 16px;
  letter-spacing: 5px;
  list-style: circle;
  text-align: left;
  color: var(--listColor);
  margin: 15px;
  display: block;
  margin-left: 0;
}
.list-element-primary-last {
  list-style-type: none;
  list-style-image: none;
}
.list-element-secondary-last {
  list-style-image: none;
  list-style-type: none;
}
.list-element-secondary-last:hover,
.list-element-primary-last:hover,
.list-element-primary:hover,
.list-element-secondary:hover {
  color: rgb(241, 241, 210);
}

.list-primary .list-element-tertiary:hover {
  color: rgb(0, 255, 170);
}
.list-secondary .list-element-tertiary:hover {
  color: rgb(255, 0, 255);
}
:root {
  --listColor: rgb(44, 43, 43);
}

li::selection {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}
.list-element-secondary:nth-child(odd),
.list-element-primary:nth-child(odd) {
  text-shadow: 1px 1px 1px #000;
}
#navigation-list {
  list-style-type: none;
}
a:hover:not(.active) {
  background-color: #555;
  color: white;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
}
