body {
  background-color: rgb(92, 80, 80);
  line-height: 1.5;
  font-family: sans-serif;
}
.list-primary {
  width: fit-content;
  padding: 10px;
  color: rgb(149, 149, 179);
  list-style-position: inside;
}
.list-secondary {
  text-align: left;
  color: rgb(180, 168, 190);
}
